---
import { Image } from 'astro:assets';
import yamiLogo from '/src/assets/images/yami.gif';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('posts', ({ data }) => {
  return data.draft === false;
})

const recentPosts = blogEntries
  .sort((a, b) => new Date(b.data.datePublished) - new Date(a.data.datePublished)) // Sort by dateUpdated in descending order
  .slice(0, 10); // Limit to the 5 most recent posts

export async function get() {
  return {
    body: JSON.stringify(recentPosts),
  };
}


---
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css"> -->

<Navigation />

<title>YamiFrankc</title>
<body>
<p class="logo">
<Image src={yamiLogo} alt="A cool logo." />
 </p>
 <p> Welcome to my website. Feel free to look around, see my <a href="/archive">blog posts</a>, learn <a href="posts/about">about me</a>, <a href="contact">contact me</a> or jump to a <a href="random">random</a> page!</p>

<h3>New posts:</h3>

<ul class="title-list">
	{recentPosts.map(recentPosts => (
	  <li>
		<div class="post-header">
			<span class="title"><a href={`/posts/${recentPosts.slug}`}>{recentPosts.data.title}</a></span>
      <span class="date">{new Date(recentPosts.data.dateModified).toISOString().split('T')[0]</span>
			</div> 
			<ul class="tag-list">
				{recentPosts.data.tags.map(tag => (
				<li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
				))}
			</ul>
	  </li>
	))}
  </ul>
  

</body>

<style>
	.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -170px;
  padding: 0; 
}

h3 {
  margin-top: 0; 
  margin-bottom: 0;
}
</style>

<Foot />
