---
import { Image } from 'astro:assets';
import yamiLogo from '/src/assets/images/yami.gif';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts', ({ data }) => {
  return data.draft === false;
})

const recentPosts = blogEntries
  .sort((a, b) => new Date(b.data.dateModified) - new Date(a.data.dateModified)) // Sort by dateUpdated in descending order
  .slice(0, 5); // Limit to the 5 most recent posts

export async function get() {
  return {
    body: JSON.stringify(recentPosts),
  };
}


---
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css">

<Navigation />

<title>YamiFrankc</title>
<body>
<Image src={yamiLogo} alt="A cool logo." />
<h3>New or recently updated posts:</h3>
<ul class="title-list">
	{recentPosts.map(recentPosts => (
	  <li>
		<div class="post-header">
			<span class="title"><a href={`/posts/${recentPosts.slug}`}>{recentPosts.data.title}</a></span>
      <span class="date">{new Date(recentPosts.data.dateModified).toISOString().split('T')[0]</span>
			</div>
			<ul class="tag-list">
				{recentPosts.data.tags.map(tag => (
				<li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
				))}
			</ul>
	  </li>
	))}
  </ul>
  

</body>

	<style>
.title-list {
    list-style-type: none;
    padding: 0;
}

.title-list li {
    margin-bottom: 20px; /* Add space between entries */
}

.post-header {
    display: flex;
    align-items: center; /* Align title and date on the same line */
    margin-bottom: 8px; /* Add space between header and tags */
}

.title {
    font-size: 1.5em; /* Make the title big */
    font-weight: bold;
    margin-right: 15px; /* Add space between title and date */
}

.date {
    font-size: 0.9em; /* Slightly smaller than the title */
    color: #888; /* Lighter color for the date */
}

.tag-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Add space between tags */
}

.tag {
    font-size: 0.8em; /* Make the tags smaller */
    color: gray;
    background-color:  rgb(48, 48, 48); /* Optional: tag background for better appearance */
    padding: 2px 6px;
    border-radius: 4px;
}


	</style>
<Foot />