---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';

const { frontmatter, content } = Astro.props;
const isModifiedMoreRecent = new Date(frontmatter.dateModified) > new Date(frontmatter.datePublished);
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css">

<title>{frontmatter.title}</title>
<Navigation />

<h1>{frontmatter.title}</h1>
<h2>{frontmatter.subtitle}</h2>
Tags: {frontmatter.tags}

<p>Published: {new Date(frontmatter.datePublished).toISOString().split('T')[0]}</p>
{isModifiedMoreRecent && (
    <p>Last modified on:  {new Date(frontmatter.dateModified).toISOString().split('T')[0]}</p>
  )}

<slot />

<p>Email me about this page at <a href={`mailto:contact@yamifrankc.com?subject=${frontmatter.title}`}>Send email</a></p>

<Foot />