---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

const lastModified = dayjs()
  .utc(Astro.props.frontmatter.lastModified)
  .format("YYYY-MM-DD HH:mm");

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';

const { frontmatter, content } = Astro.props;
import  githubRepoUrl  from '../../astro.config.mjs';
const fileName = Astro.url.pathname; // Get the current URL or route

const githubLink = `${githubRepoUrl}${fileName}.md`; // Assuming markdown files are in /src/pages/
---


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css">

<title>{frontmatter.title}</title>
<Navigation />

<h1>{frontmatter.title}</h1>

<p>Published: {new Date(frontmatter.datePublished).toISOString().split('T')[0]}</p>
<p>Last modified: {lastModified}</p>

<slot />

<!-- <p>Email me at <a href={`mailto:contact@yamifrankc.com?subject=${frontmatter.title}`}>Send email</a></p> -->
<p>
    Found an issue? <a href={githubLink} target="_blank">Edit this page on GitHub</a>.
  </p>
<Foot />