---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

import '../styles/global.css';
import '../styles/prism-dark.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';

const { frontmatter, content } = Astro.props;
const isModifiedMoreRecent = new Date(frontmatter.dateModified) > new Date(frontmatter.datePublished);
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css">


<title>{frontmatter.title}</title>
<Navigation />

<h1>{frontmatter.title}</h1>
<h2>{frontmatter.subtitle}</h2>
<ul class="tag-list">
{frontmatter.tags.map(tag => (
  <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
  ))}
</ul>

<p>Published: {new Date(frontmatter.datePublished).toISOString().split('T')[0]}</p>


<slot />

<p><a href={`mailto:contact@yamifrankc.com?subject=Re:${frontmatter.title}`}>Email me about this post.</a></p>

<Foot />